
@model AddListViewModel

@*Display a limited number of the movies that contains the search term*@
@if (Model.suggestMovies.Count() > 0)
    @foreach (var item in Model.suggestMovies)
    {
        <li class="clist-found" id="@item.Id" onclick="AddMovie(@item.Id)">
            @item.MovieTitleYear
            <span class="clist-suggestion-dir"> — @item.MovieDirector</span>
        </li>

    }else
    {
        <li class="clist-not-found" id="">
            Your search - @Model.SearchTerm - did not match any movies.
            Try different keywords.
        </li>
    }

