@model CListsViewModel

@if (Model.IsFirstPage)
{
    foreach (var item in Model.Lists)
    {
        <article class="director-list-item mt-3 mb-2 mt-lg-4 mb-lg-3 col-12 col-md-6 col-lg-4">
            <div class="mx-auto">
                @*Movie poster and its tooltip (title (year)) *@
                <div class="movie-poster-wrapper list-poster mx-auto">
                    <a asp-action="Clist" asp-route-id="@item.Id" class="mx-auto">
                        <div class="avatars-wrapper">
                            <ul>
                                @foreach (var avatar in item.Avatars)
                                {
                                    if (avatar != "defaultImage")
                                    {
                                        <li>
                                            <img src="@("~/image/"+avatar)" class="" asp-append-version="true" />
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-avarar-placeholder">
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </a>
                </div>

                <a asp-action="Clist" asp-route-id="@item.Id" class="clist-title-wrapper">
                    <div class="lists-list-title">@Html.DisplayFor(modelItem => item.Title)</div>
                </a>
                <div class="clist-description">@Html.DisplayFor(modelItem => item.Description)</div>
                <div class="nav-item ms-md-auto profile-picture-small-wrapper">
                    <a class="nav-link profile-picture-small"
                        asp-controller="Settings" asp-action="Index">
                        <vc:welcome-message></vc:welcome-message>
                    </a>
                </div>
                
                
            </div>
        </article>
    }

}
else
{
    @foreach (var item in Model.Lists)
    {
        <article class="ajax-individual-item-wrapper director-list-item mt-3 mb-2 mt-lg-4 mb-lg-3 col-12 col-md-6 col-lg-4">
            <div class="mx-auto">
                @*Movie poster and its tooltip (title (year)) *@
                <div class="movie-poster-wrapper list-poster mx-auto">

                    <a asp-action="Clist" asp-route-id="@item.Id" class="mx-auto">
                        <div class="avatars-wrapper">
                            <ul>
                                @foreach (var avatar in item.Avatars)
                                {
                                    if (avatar != "defaultImage")
                                    {
                                        <li>
                                            <img src="@("~/image/"+avatar)" class="" asp-append-version="true" />
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-avarar-placeholder">
                                        </li>
                                    }

                                }

                            </ul>
                        </div>
                    </a>
                </div>

                <a asp-action="Clist" asp-route-id="@item.Id" class="clist-title-wrapper">
                    <div class="lists-list-title">@Html.DisplayFor(modelItem => item.Title)</div>
                </a>
                <div class="clist-description">@Html.DisplayFor(modelItem => item.Description)</div>
                <div class="nav-item ms-md-auto profile-picture-small-wrapper">
                    <a class="nav-link profile-picture-small"
                       asp-controller="Settings" asp-action="Index">
                        <vc:welcome-message></vc:welcome-message>
                    </a>
                </div>
            </div>
        </article>
    }

}
