
@{
    Layout = "_Layout";
}

@*Navbar Start*@
<div class="container main-navigation-bg">
    <header class="container-xxl profile-navigation-container row mx-auto">
        <nav class="navbar navbar-expand navbar-dark">

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav w-100 d-inline-block text-center">
                    <li class="nav-item d-inline-block"><a class="nav-link @Html.ActiveClass("Settings", "Index") @Html.ActiveClass("Settings", "Email") @Html.ActiveClass("Settings", "ChangePassword") @Html.ActiveClass("Settings", "PersonalData")" asp-controller="Settings" asp-action="Index">Settings</a></li>
                    <li class="nav-item d-inline-block"><a class="nav-link @Html.ActiveClass("Account", "Profile")" asp-controller="Account" asp-action="Profile">Profile</a></li>
                    <li class="nav-item d-inline-block"><a class="nav-link @Html.ActiveClass("Account", "Films")" asp-controller="Account" asp-action="Films">Films</a></li>
                    <li class="nav-item d-inline-block"><a class="nav-link @Html.ActiveClass("Account", "Watchlist")" asp-controller="Account" asp-action="Watchlist">Watchlist</a></li>
                    <li class="nav-item d-inline-block"><a class="nav-link @Html.ActiveClass("Account", "Ratings")" asp-controller="Account" asp-action="Ratings">Ratings</a></li>

                </ul>
            </div>
        </nav>
    </header>
</div>
@*Navbar End*@

@*Render the main view*@
@RenderBody()


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}