@model ChangeEmailViewModel
@{
    ViewData["Title"] = "Manage Email";
    Layout = "~/Views/Shared/_ProfileSettingsLayout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="@TempData["ConfirmMessage2"]" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="@Model.CurrentUser.Email">Current Email</label>

                <div class="input-group">
                    <input asp-for="@Model.CurrentUser.Email" class="form-control" disabled />
                    <div class="input-group-append">
                        <span class="input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <label asp-for="@Model.NewEmail">New Email</label>
                <input asp-for="@Model.NewEmail" class="form-control" />
                <span asp-validation-for="@Model.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="mt-4 btn btn-primary">Change email</button>
        </form>
    </div>
</div>
